.task {
    display: flex;
    align-items: center;
    background-color: rgb(178, 152, 255);
    height: 60px;
    border-radius: 30px;
    padding-left: 20px;
    width: 500px;
    margin-top: 15px;
}

.task_text {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    background-color: transparent;
    border-style: none;
}

.doneButton {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    border-color: white;
}

.task_delete_button {
    width: 100px;
    height: 60px;
    border-style: none;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: transparent;
}

.task_delete_button:hover {
    background-color: rgba(0, 0, 0, 0.101);
}

.move_button_div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.move_button {
    background-color: transparent;
    border-style: none;
    margin: 5px;
    border-radius: 10px;
}
 .move_button:hover {
    background-color: rgb(165, 140, 239);
 }
