.App {
    display: flex;
}

#filters {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-button {
    background-color: white;
    width: 170px;
    height: 30px;
    margin: 2px;
    border-style: none;
}

.filter-button:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.lifeless-filter-button {
    color: rgb(179, 179, 179);
    background-color: white;
    width: 170px;
    height: 30px;
    margin: 2px;
    border-style: none;
}
